<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>


<style type="text/css">
 table {
   border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
 }
 td {
   border-width: 0; 
   border-style: none;
   border-color: #0000ff; 
   border-collapse: collapse; 
   padding: 0; 
   margin: 0; 
   width: 10px; 
   height: 10px; 
 }
 td.black { background-color: #000; }
 td.white { background-color: #fff; }
 </style>

 <table>
 <% @qr.modules.each_index do |x| %>
   <tr>  
   <% @qr.modules.each_index do |y| %>
    <% if @qr.is_dark(x,y) %>
     <td class="black"/>
    <% else %>
     <td class="white"/>
    <% end %>
   <% end %>
   </tr>
 <% end %>
 </table>
